<div class="container">
    <div class="complete_text"> <p>プロフィールを送信しました</p></div>
    <div class="complete_content">
        <div class="complete_content_br">あなたもあなただけのプロフィール帳を作成しませんか？</div>
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="large material-icons">edit</i></h2>
                    <span class=" text-size-middle">Create Template</span>
                    <p class="center">答えて貰いたい5つの質問を考えてテンプレートを作成しましょう</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="large material-icons">group</i></h2>
                    <span class="text-size-middle">URL Sharing</span>
                    <p class="light">作ったテンプレートのURLを書いて欲しい人に共有しましょう</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="large material-icons">event_note</i></h2>
                    <span class=" text-size-middle">Look Forward to Profile</span>
                    <p class="light">あとはプロフィールを待つだけです</p>
                </div>
            </div>
        </div>
        <div class="center-align">
            <%= link_to templates_path do %>
            <button class="button1 center-align">早速使ってみる</button>
            <% end %>
        </div>
    </div>
</div>
