<div class="container">
  <p>このURLを友達に共有してください</p>
  <div>
    <textarea id="bar"><%=new_template_profile_url(@template)%></textarea>

<!-- Trigger -->
    <button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
        URLをコピーする
    </button>

  </div>
</div>
