  <nav>
      <div class="nav-wrapper">
          <a href="#" class="brand-logo center">ProMe</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="sass.html">ログイン</a></li>
              <li><a href="badges.html">Components</a></li>
              <li><a href="collapsible.html">JavaScript</a></li>
          </ul>
      </div>
  </nav>
<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="header-content">
        <div class="grid-example col s12 center-align header-title"><h1>ProMe</h1></div>
        <div class="grid-example col s12 center-align"><span>~~~~あなたのプロフィールを私に~~~~</span></div>
      </div>
      <div class="header-sidecontent center-align">
        <p>URLを共有するだけでプロフィールが貰えるかも？</p>
        <%= link_to templates_path do %>
          <button class="cp_button06 center-align">早速使ってみる</button>
        <% end %>
      </div>
    </div>
  </div>
</header>


