<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="header-content">
        <div class="grid-example col s12 center-align header-title"><h1>ProMe</h1></div>
        <div class="grid-example col s12 center-align"><span>~~~~あなたのプロフィールを私に~~~~</span></div>
      </div>
      <div class="header-sidecontent center-align">
        <p>URLを共有するだけでプロフィールが貰えるかも？</p>
        <%= link_to templates_path do %>
          <button class="cp_button06 center-align">早速使ってみる</button>
        <% end %>
      </div>
    </div>
  </div>
</header>


