// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 @font-face{
   font-family: "font1";
   src: font-url('KFhimaji.otf') format('truetype');
 }



// body{
//   font-family: 'font1';
// }

.header{
  background-image: image-url('background1.jpg');
  background-repeat: no-repeat;
  background-size:  cover ;
  height: 800px;
  &-content{
    padding-top: 160px;
  }
}
