// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 @font-face{
   font-family: "font1";
   src: font-url('KFhimaji.otf') format('truetype');
 }

.header{
  background-image: image-url('background1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 885px;
  width: 100vw;
  &-content{
    padding-top: 160px;
  }
}

.pace-running .wrap {
  display:none;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    margin-right: 20px;
    padding: 0px 20px;
    cursor: pointer;
}

.pagenate-box {
        margin-top: 40px;
        width: 700px;
        height: 44px;
        list-style-type: none;
        text-align: center;

        ul {
          .page {
            max-width: 44px;
            max-height: 44px;
            border-radius: 4px;
            background-color: #fff;
            border: solid 1px #ccc;
            font-size: 14px;
            padding: 13px 15px;
            box-sizing: border-box;

            a {
              &:link {
                color: #000;
              }
              &:visited {
                color: #000;
              }
              &:hover {
                color: #000;
              }
              &:active {
                color: #000;
              }
              text-decoration: none;
            }
          }
          .current {
            background-color: #ea352d;
            color: #fff;
          }

          .next, .last, .first, .prev {
            max-width: 44px;
            max-height: 44px;
            border-radius: 4px;
            background-color: #fff;
            border: solid 1px #ccc;
            font-size: 14px;
            padding: 13px 15px;
            box-sizing: border-box;

            a {
              &:link {
                color: #000;
              }
              &:visited {
                color: #000;
              }
              &:hover {
                color: #000;
              }
              &:active {
                color: #000;
              }
              text-decoration: none;
            }
          }
}
}
