// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content{
  padding-top: 40px;
}

.bgpattern1 {
  background:
   linear-gradient(90deg, #ffffff 0.2em, transparent 0),
   linear-gradient(90deg, #bbdefb 50%, transparent 0),
   linear-gradient(90deg, #ef9a9a 50%, #7986cb 0);
  background-size: 20px,40px,80px;
}

.bgpattern{
  position: relative;
  &_content{
    width: 70%;
    height: 200px;
  }
}
.bgpattern::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: repeating-linear-gradient(45deg,
    #ffffff, #ffffff 10px,
    #5C6BC0 0, #5C6BC0 20px,
    #ffffff 0, #ffffff 30px,
    #C2185B 0, #C2185B 40px);
}
.bgpattern::before {
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  content: '';
  border-radius: 14px;
  background-color: #ffffff;
}
.zindex{
  position: absolute;
  margin-left: 20px;
  font-weight: bold;
  color: black;
  z-index: 5;
}

.container {
    width: 70%;
    height: 138px;
}

.template_content {
    background-image: image-url('/images/profile.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    &_introduction{
      height: 300px;
      width: 620px;
      display: flex;
      justify-content: space-between;
    }
    &_row1{
      display: flex;
      justify-content: space-between;
      width: 600px;
      margin-top: 20px;
    }
}

i.large {
    font-size: 4rem !important;
}

.text-size-middle {
  font-size:32px;
}

.top-h2 {
  font-family: 'font1';
  font-size:32px;
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

.top-h2:before, .top-h2:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.top-h2:before {
  left:0;
}
.top-h2:after {
  right: 0;
}

.top-h3 {
  position: relative;
  font-size:24px;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.top-h3:before, .top-h3:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}
.top-h3:before {
  left: 7px;
}
.top-h3:after {
  right: 7px;
}

.wizard > .steps > ul > li {
    width: 20% !important;
}

.wizard > .content {
    min-height: 16em !important;
}

.user{
  &_name {
    font-size: 24px;
    font-weight: bold;
  }

  &_image {
    height: 250px;
    width: 250px;
    margin: auto;
    border : solid 3px #333;
    border-radius: 50%;
  }
}
