// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content{
  padding-top: 40px;
}

.bgpattern1 {
  background-color: #8be4f0;
  background-image:
   linear-gradient(-90deg, #80deea 50%, transparent 50%, transparent);
  background-size: 14px 14px;
}

.template_content {
    background-image: image-url('test2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    &_introduction{
      height: 300px;
      width: 620px;
      display: flex;
      justify-content: space-between;
    }
    &_row1{
      display: flex;
      justify-content: space-between;
      width: 600px;
      margin-top: 20px;
    }
}

i.large {
    font-size: 4rem !important;
}

.text-size-middle {
  font-size:32px;
}

.top-h2 {
  font-family: 'font1';
  font-size:32px;
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

.top-h2:before, .top-h2:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.top-h2:before {
  left:0;
}
.top-h2:after {
  right: 0;
}

.top-h3 {
  position: relative;
  font-size:24px;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.top-h3:before, .top-h3:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}
.top-h3:before {
  left: 7px;
}
.top-h3:after {
  right: 7px;
}
