// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content{
  padding-top: 40px;
}

.bgpattern1 {
  background-color: #8be4f0;
  background-image:
   linear-gradient(-90deg, #80deea 50%, transparent 50%, transparent);
  background-size: 14px 14px;
}

.template_content {
    background-image: image-url('test2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    &_introduction{
      height: 300px;
      width: 620px;
      display: flex;
      justify-content: space-between;
    }
    &_row1{
      display: flex;
      justify-content: space-between;
      width: 600px;
      margin-top: 20px;
    }
}
